html {
	--system-bar-height-large: 40px;
	--system-bar-height-small: 24px;
	--app-tile-size-small: 48px;
	--app-tile-size-medium: 100px;
	--app-tile-gap: 4px;
}

body {
	/* Default FlashOS background image :) */
	background: linear-gradient(120deg, #01243A, #015287 25%, #014776 40%, #015287 60%, #000000);
	background-attachment: fixed;
	
	font-family: Roboto, Helvetica, 'Segoe UI', Arial, sans-serif;
}

ideal-system-bar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: var(--system-bar-height-small);
	
	display: flex;
	align-items: center;
	overflow: hidden;
	
	z-index: 999;
}
	ideal-system-bar mwc-icon-button {
		margin: -4px -2px;
	}
		ideal-system-bar mwc-icon-button:first-child {
			margin-left: -8px;
		}
	ideal-system-bar mwc-button {
		--mdc-theme-primary: currentColor;
	}
@media (min-width: 600px) {
	ideal-system-bar {
		height: var(--system-bar-height-large);
	}
	ideal-system-bar mwc-icon-button:first-child {
		margin-left: -2px;
	}
}

ideal-system-icon-area {
	margin-left: auto;
	margin-right: 2px;
	
	--mdc-icon-size: 16px;
	
	z-index: 1;
}

ideal-launcher-pane,
ideal-system-pane {
	display: block;
	position: fixed;
	left: 0;
	top: var(--system-bar-height-small);
	width: 100%;
	height: 512px;
	max-height: 100%;
	
	border-radius: 0 0 4px 4px;
	
	transform: translateY(-100%) translateY(calc(-1 * var(--system-bar-height-small)));
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	
	outline: 0 none;
	z-index: -1;
}
	ideal-launcher-pane[open],
	ideal-system-pane[open] {
		transform: none;
		opacity: 1;
	}
	ideal-launcher-pane h1,
	ideal-system-pane h1 {
		font-size: 1.25rem;
		font-weight: 500;
	}
@media (min-width: 600px) {
	ideal-launcher-pane,
	ideal-system-pane {
		width: auto;
		top: var(--system-bar-height-large);
		transform: translateY(-100%) translateY(calc(-1 * var(--system-bar-height-large)));
	}
}

ideal-launcher-pane {
	display: flex;
	flex-wrap: nowrap;
	
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
}
	ideal-launcher-pane ideal-app-tile {
		transform: translateY(-4em) scale(0.85);
		transition: transform 0.4s;
	}
		ideal-launcher-pane[open] ideal-app-tile {
			transform: none;
		}

ideal-launcher-pins,
ideal-all-apps-menu {
	box-sizing: border-box;
	width: 100%;
	flex-shrink: 0;
	overflow-y: auto;
	margin: 0 0.5rem;
	scroll-snap-align: start;
}
	ideal-launcher-pins {
		padding-right: 0;
	}
	ideal-all-apps-menu {
		width: calc(100% - 48px);
	}
		ideal-all-apps-menu mwc-list-item {
			height: 48px;
			--mdc-list-item-graphic-size: 32px;
		}
	ideal-launcher-pane::-webkit-scrollbar,
	ideal-all-apps-menu::-webkit-scrollbar {
		height: 4px;
		width: 4px;
	}
	ideal-launcher-pane::-webkit-scrollbar-track,
	ideal-all-apps-menu::-webkit-scrollbar-track {
		background: rgba(255, 255, 255, 0);
	}
	ideal-launcher-pane::-webkit-scrollbar-thumb,
	ideal-all-apps-menu::-webkit-scrollbar-thumb {
		background: rgba(128, 128, 128, 0.5);
	}
	ideal-launcher-pane::-webkit-scrollbar-button,
	ideal-all-apps-menu::-webkit-scrollbar-button {
		display: none;
	}
@media (min-width: 600px) {
	ideal-all-apps-menu {
		width: 300px;
	}
	ideal-launcher-pins {
		width: calc(6 * var(--app-tile-size-small) + 5 * var(--app-tile-gap));
	}
}

ideal-window {
	z-index: -1;
}
